{{- if .Values.configMap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clustereye-api.fullname" . }}-config
  labels:
    {{- include "clustereye-api.labels" . | nindent 4 }}
data:
  server.yml: |
    server:
      name: {{ .Values.config.server.name | quote }}

    grpc:
      address: :{{ .Values.service.grpcTargetPort }}

    http:
      address: :{{ .Values.service.targetPort }}

    log:
      level: {{ .Values.config.log.level | quote }}
      format: {{ .Values.config.log.format | quote }}
      output: {{ .Values.config.log.output | quote }}
      file_path: {{ .Values.config.log.file_path | quote }}
      max_size: {{ .Values.config.log.max_size }}
      max_backups: {{ .Values.config.log.max_backups }}
      max_age: {{ .Values.config.log.max_age }}
      compress: {{ .Values.config.log.compress }}

    database:
      host: {{ .Values.global.database.host | default "clustereye-postgresql" | quote }}
      port: {{ .Values.global.database.port | default 5432 }}
      user: {{ .Values.global.database.username | default "postgres" | quote }}
      password: "{{ "{{" }} DB_PASSWORD {{ "}}" }}"  # Will be injected from secret
      dbname: {{ .Values.global.database.database | default "clustereye" | quote }}
      sslmode: {{ .Values.global.database.sslMode | default "disable" | quote }}

    influxdb:
      {{- if .Values.global.externalInfluxDB.enabled }}
      url: {{ .Values.global.externalInfluxDB.url | quote }}
      token: "{{ "{{" }} INFLUX_TOKEN {{ "}}" }}"  # Will be injected from secret
      organization: {{ .Values.global.externalInfluxDB.organization | quote }}
      bucket: {{ .Values.global.externalInfluxDB.bucket | quote }}
      {{- else }}
      url: {{ .Values.global.influxdb.url | default (printf "http://%s-influxdb:8086" .Release.Name) | quote }}
      token: "{{ "{{" }} INFLUX_TOKEN {{ "}}" }}"  # Will be injected from secret
      organization: {{ .Values.global.influxdb.organization | default "clustereye" | quote }}
      bucket: {{ .Values.global.influxdb.bucket | default "clustereye" | quote }}
      {{- end }}
      enabled: {{ .Values.config.influxdb.enabled }}
      batch_size: {{ .Values.config.influxdb.batch_size }}
      flush_interval: {{ .Values.config.influxdb.flush_interval }}
{{- end }}