apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clustereye-envoy.fullname" . }}-config
  labels:
    {{- include "clustereye-envoy.labels" . | nindent 4 }}
data:
  envoy.yaml: |
    admin:
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 9901

    static_resources:
      listeners:
      - name: listener_0
        address:
          socket_address:
            address: 0.0.0.0
            port_value: 10000
        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              codec_type: AUTO
              stat_prefix: ingress_http
              http2_protocol_options: {}
              use_remote_address: true
              access_log:
              - name: envoy.access_loggers.stdout
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StdoutAccessLog
                  log_format:
                    json_format:
                      start_time: "%START_TIME(%Y-%m-%dT%H:%M:%S.%3fZ)%"
                      method: "%REQ(:METHOD)%"
                      path: "%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%"
                      scheme: "%REQ(:SCHEME)%"
                      authority: "%REQ(:AUTHORITY)%"
                      protocol: "%PROTOCOL%"
                      response_code: "%RESPONSE_CODE%"
                      response_code_details: "%RESPONSE_CODE_DETAILS%"
                      response_flags: "%RESPONSE_FLAGS%"
                      duration_ms: "%DURATION%"
                      upstream_service_time_ms: "%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%"
                      bytes_received: "%BYTES_RECEIVED%"
                      bytes_sent: "%BYTES_SENT%"
                      downstream_remote_address: "%DOWNSTREAM_REMOTE_ADDRESS%"
                      downstream_local_address: "%DOWNSTREAM_LOCAL_ADDRESS%"
                      upstream_host: "%UPSTREAM_HOST%"
                      upstream_cluster: "%UPSTREAM_CLUSTER%"
                      route_name: "%ROUTE_NAME%"
                      request_id: "%REQ(X-REQUEST-ID)%"
                      user_agent: "%REQ(USER-AGENT)%"
                    omit_empty_values: true   
              route_config:
                name: local_route
                virtual_hosts:
                - name: frontend_service
                  domains:
                  - "*"
                  routes:
                  - match:
                      prefix: "/"
                    route:
                      cluster: frontend_cluster
                      timeout: 0s
                    typed_per_filter_config:
                      envoy.filters.http.cors:
                        "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.CorsPolicy
                        allow_origin_string_match:
                          - prefix: "*"
                        allow_methods: "GET, OPTIONS, POST, PUT"
                        allow_headers: "content-type,authorization,x-requested-with"
                        allow_credentials: true
                        max_age: "1728000"
                        expose_headers: "*"
                - name: api_service
                  domains:
                  - "{{ .Values.global.domains.api }}"
                  routes:
                  - match:
                      prefix: "/"
                      headers:
                      - name: "content-type"
                        string_match:
                          exact: "application/grpc"
                    route:
                      cluster: grpc_api_cluster
                      timeout: 0s
                      idle_timeout: 0s
                      max_stream_duration:
                        max_stream_duration: 0s
                        grpc_timeout_header_max: 0s
                  - match:
                      prefix: "/"
                    route:
                      cluster: api_cluster
                      timeout: 0s
                    typed_per_filter_config:
                      envoy.filters.http.cors:
                        "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.CorsPolicy
                        allow_origin_string_match:
                          - prefix: "*"
                        allow_methods: "GET, OPTIONS, POST, PUT"
                        allow_headers: "content-type,authorization,x-requested-with"
                        allow_credentials: true
                        max_age: "1728000"
                        expose_headers: "*"
              http_filters:
              - name: envoy.filters.http.cors
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.Cors
              - name: envoy.filters.http.router
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

      clusters:
      - name: frontend_cluster
        connect_timeout: 5s
        type: LOGICAL_DNS
        dns_lookup_family: V4_ONLY
        lb_policy: ROUND_ROBIN
        common_http_protocol_options:
          idle_timeout: 0s
        load_assignment:
          cluster_name: frontend_cluster
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: {{ .Values.backends.frontend.service }}
                    port_value: {{ .Values.backends.frontend.port }}

      - name: api_cluster
        connect_timeout: 5s
        type: LOGICAL_DNS
        dns_lookup_family: V4_ONLY
        lb_policy: ROUND_ROBIN
        load_assignment:
          cluster_name: api_cluster
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: {{ .Values.backends.api.service }}
                    port_value: {{ .Values.backends.api.port }}

      - name: grpc_api_cluster
        connect_timeout: 5s
        type: LOGICAL_DNS
        dns_lookup_family: V4_ONLY
        lb_policy: ROUND_ROBIN
        http2_protocol_options:
          connection_keepalive:
            interval: 30s
            timeout: 10s
        common_http_protocol_options:
          idle_timeout: 0s
          max_stream_duration: 0s
          max_connection_duration: 0s
        load_assignment:
          cluster_name: grpc_api_cluster
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: {{ .Values.backends.api.service }}
                    port_value: 50051