image:
  registry: docker.io
  repository: postgres
  tag: "17-alpine"
  pullPolicy: IfNotPresent

auth:
  # Password will be provided by global.database.password
  postgresPassword: ""
  database: "clustereye"

persistence:
  enabled: true
  storageClass: ""
  size: 8Gi

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 256Mi

service:
  type: ClusterIP
  port: 5432

# PostgreSQL configuration
postgresql:
  maxConnections: 100
  sharedBuffers: 128MB
